*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about-ul{
    font-size: 15px;
}

body{
    margin-top: 15px;
    height: 100vh;
}


.about-section .as-2{
    margin-top: 50px;
}

.about-section .highlight{
    color: navy;
    font-weight: bolder;
    font-variant: small-caps;
}

.footer-section{
    background-color: rgb(242, 247, 252);
    color: #333;
    padding-top: 8px;
    margin-bottom: 3px;
}

.additional{
    background-color: rgb(236, 234, 234);
    color: #333;
    padding-left: 8px;
    padding-top: 8px;
}

.carousel-item {
    object-fit: cover;
    object-position: top;
    height: 82vh;
    overflow: hidden;
}



/* ----- Media Qurey ----- */

@media (max-width:1000px){
    html{
        font-size: 15px;
    }

    .about-section .as-1{
        margin-top: 25px;
    }

    .about-ul{
        font-size: 14px;
    }
    .carousel-item {
        height: 61vh;
    }
}

@media (max-width:768px){
    html{
        font-size: 13px;
    }

    .about-section .as-1{
        margin-top: 25px;
    }

    .about-ul{
        font-size: 12px;
    }

    .carousel-item {
        height: 50vh;
    }
}

@media (max-width:600px){
    html{
        font-size: 13px;
    }

    .about-section .as-1{
        margin-top: 25px;
    }

    .about-ul{
        font-size: 9px;
    }
}

@media (max-width:500px){
    html{
        font-size: 10px;
    }

    .about-section .as-1{
        margin-top: 25px;
    }

    .about-ul{
        font-size: 8px;
    }

    .carousel-item {
        height: 30vh;
    }
}

@media (max-width:440px){
    html{
        font-size: 9px;
    }

    .about-section .as-1{
        margin-top: 25px;
    }

    .about-ul{
        font-size: 7.5px;
    }
}

/* 370 Ended the Media Screen */